body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cddbeb;
    color: #4c1ecc;
}
.container{
     width: 100;
     max-width: 500px;
     padding: 10px;
     background-color: #cddbeb; 
     border-radius: 30px;
     box-shadow: 0 0 45px rgba(0, 0, 0, 0.5);
}

#formPersona {
    background-color: rgb(253, 254, 255); 
    padding: 20px;
    border-radius: 10px;
}

input, select, textarea {
    box-shadow: 0 0 35px rgba(1, 38, 87, 0.5);
}
.table th, .table td {
    padding: 10px;
    border: 1px solid #eeeeee;
    text-align: center;

}
































































































































































































































































